h1 {
  font-size: 100px;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: Nunito, sans-serif;
  background-color: #0081C9;
}
/*//////////////////////// NAVBAR CSS START //////////////////////////////*
/* navbar container */
.navbar {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  color: #fff;
  padding: 40px 30px 30px 30px;
  margin-left: 400px;
}

/* Used to be the old title but switched to icon now */
/* .title {
  font-size: 35px;
  font-weight: 900;
  color: #fff;
  position: absolute;
  left: 30px;
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0.3rem #000;
} */

#title-img {
  width: calc(30% + 0.390625vw);
  height: auto;
    position: absolute;
  left: 30px;
  top: 15px;
}
@media screen and (max-width: 500px){
  #title-img{
  width: 200px;
  left: 15px;
  }}


/* navbar buttons */
button {
  border-radius: 10px;
  border: none;
  font-family: Nunito, sans-serif;
  font-weight: 650;
  color: #000000;
  font-size:calc(10px + 0.5vw);
  padding: 0.6em 0.9em ;
  
  background: #ffffff;
  
  text-decoration: none;
  cursor: pointer;
  margin: auto 10px auto 10px;
}
button a{
  color: inherit
}


/* Navbar hover effect */
button:hover {
  background-color: rgb(4, 4, 4);
  border-color: rgb(200, 200, 200);
  color: #fff;
}


/*//////////////////////// NAVBAR CSS END //////////////////////////////*/



/*//////////////////////// HAMBURGER CSS START //////////////////////////////*/

.container {
display: none;
}

.hamburger-menu {
width: 2rem;
height: 2rem;
position: fixed;
top: 2rem;
right: 5rem;
z-index: 200;
display: flex;
flex-direction: column;
justify-content: space-evenly;
cursor: pointer;
}

.line {
width: 100%;
height: 0.2rem;
background-color: white;
box-shadow: 0.1rem 0.2rem rgba(0,0,0,0.2);
}

.sidebar {
width: 15rem;
height: 100vh;
position: fixed;
top: 0;
right: -40rem;
background-color: white;
transition: right 0.5s;
z-index: 1;
}

.change .sidebar {
right: 0;
}

.menu {
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
list-style: none;
}

.menu-item {
text-align: center;
}

.menu-link {
font-family: Nunito, sans-serif;
font-size: 1.5rem;
color: black;
}
/*//////////////////////// HAMBURGER CSS END //////////////////////////////*/


/*//////////////////////// FLASHCARD CSS START //////////////////////////////*/
.main-container {
    max-width: 480px;
    margin: 70px auto 0 auto;
    background-color: none;
    padding: 2rem;
    display: flex;
    perspective: 1000px;
}

.flashcard {
    width: 100%;
    min-height: 300px;
    border-radius: 28px;
    position: relative;
    text-align: center;
    background-color: #FFC93C;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.2);
    
    transform-style: preserve-3d;
    transition: transform 0.5s ;
}

.front{
  position: absolute;
  width: 100%;
height: 100%;
backface-visibility: hidden;

text-align: center;

}

.back{
  position: absolute;
  width: 100%;
height: 100%;
backface-visibility: hidden;
transform: rotateY(180deg);
text-align: center;

}

.flashcard.flip{
  transform: rotateY(180deg);
}

.flashcard-form {
  margin: 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flashcard-name {
  font-size: calc(16px + 0.390625vw);
  font-weight: 650;
  letter-spacing: 0.1rem;
  color: #111;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/*///// Added css for spacing inside flashcard container ///*/
label.flashcard-name {
  display: block;
  /* width: 100%; */
}

input[type="radio"] {
  margin-top: 10px;
}
/*///// Added css for spacing inside flashcard container ///*/

#submit-button {
  border-radius: 10px;
  border: none;
  font-family: Nunito, sans-serif;
  font-weight: 650;
  color: #000000;
  
  background: #ffffff;
  font-size:calc(12px + 0.390625vw);
  padding: 0.6em 1.2em 0.6em 1.2em;
  text-decoration: none;
  cursor: pointer;
  margin: 20px 0;
}

#submit-button:hover {
  background-color: rgb(8, 8, 8);
  border-color: rgb(200, 200, 200);
  color: #fff;
}
#counter{
  bottom: 80px;
 
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  font-size: calc(12px + 0.390625vw);
}
@media screen and (max-width: 370px){
  #counter{
    bottom: 105px;
  }
}


#next-button-front, #next-button-back {
  border-radius: 10px;
  border: none;
  font-family: Nunito, sans-serif;
  font-weight: 650;
  color: #000000;
  font-size: calc(12px + 0.390625vw);
  background: #ffffff;
  padding: 0.6em 1.2em 0.6em 1.2em;
  text-decoration: none;
  cursor: pointer;
  margin: 0px;
  position: absolute;
  right: 20px;
  bottom: 80px;
  min-width: 70px;
}
 
#next-button-front:hover, #next-button-back:hover {
  background-color: rgb(8, 8, 8);
  border-color: rgb(200, 200, 200);
  color: #fff;
}

#previous-button-front, #previous-button-back {
  border-radius: 10px;
  border: none;
  font-family: Nunito, sans-serif;
  font-weight: 650;
  color: #000000;
  font-size: calc(12px + 0.390625vw);
  background: #ffffff;
  padding: 0.6em ;
  text-decoration: none;
  cursor: pointer;
  margin: 0px;
  position: absolute;
  /* top: 300px;
  right: 340px; */
  left: 20px;
  bottom: 80px;
}

#previous-button-front:hover, #previous-button-back:hover  {
  background-color: rgb(8, 8, 8);
  border-color: rgb(200, 200, 200);
  color: #fff;
}
/*//////////////////////// FLASHCARD CSS END //////////////////////////////*/



/*//////////////////////// PROGRESS BAR CSS START //////////////////////////////*/

.wrapper {
  display: flex;
  justify-content: center;
}

.progress-bar {
  width: calc(220px + 0.390625vw);
  background-color: #e0e0e0;
  
  border-radius: 3px;
}

.progress-bar-fill {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 18px;
  background-color: rgb(30, 158, 30);
  border-radius: 3px;
}



/*//////////////////////// PROGRESS BAR CSS END //////////////////////////////*/





/*//////////////////////// MEDIA QUERIES CSS START //////////////////////////////*/
/* Media query to show the hamburger menu on small screens */
@media screen and (max-width: 995px) {
  /* Hide regular navbar links */
  .navbar button {
    display: none;
  }

  /* #title-img {
    display: none;
  } */

  /* Show hamburger menu button */
  .container {
    display: block;
  }
  @media screen and (max-width: 700px){
    .hamburger-menu {
   
    top: 1.5rem;
    right: 3rem;
   
}}
@media screen and (max-width: 360px){
  .hamburger-menu {
 
  top: 1rem;
  right: 2rem;
  width: 1.5rem;
  height: 1.5rem;
 
}}

  /* Show menu on hover, commented out over preferential button click event
  .navbar .menu-button:hover + .menu,
  .navbar .menu-button:focus + .menu {
    display: block;
  } */


}
a {
  text-decoration: none;
  
}
/*//////////////////////// MEDIA QUERIES CSS END //////////////////////////////*/
.answer-section{
  width: fit-content;
   text-align: left;
  
}
