body{
    background-color: #58B09C;
    margin: 40px 40px;
}
#subtitle{
    font-size: 30px;
    margin-left: 15px;
}
img{
    width: 500px;
    height: 100px;
    margin-top: -10px;
}
#menu{
    margin-top: -80px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
  }
  
  li {
    float:right;
    width: 8%;
    font-size: 25px;
    margin-bottom: 80px;
  }
  li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    max-width: 720px;
    margin: 0 auto;
  }
  li a:hover {
    background-color: #000000;
    color: #58B09C;
    border-radius: 30px;
  }
.subjects{
    border: 1px solid;
    border-radius: 20px;
    margin-top: 5px ;
    font-size: 25px;
    float: left;
    width: 45%;
    margin: 10px;
    padding: 10px 10px;

}
#sub1{
    background-color: #FFB72B;
}
#sub2{
background-color: #B9F3FC;
}

#sub3{
    background-color: #F25A04;
    
}
#sub4{
    background-color: #7743DB;
}
.ptitle{
    text-align: center;
}

