h1 {
    font-size: 100px;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: Nunito, sans-serif;
    background-color: #0081C9;
}
/*//////////////////////// NAVBAR CSS START //////////////////////////////*
/* navbar container */
.navbar {
    display: flex;
    justify-content: flex-end; /* horizontal */
    align-items: center; /* vertical */
    background-color: #0081C9;
    color: #fff;
    padding: 30px;
}

.title {
    font-size: 35px;
    font-weight: 900;
    color: #fff;
    position: absolute;
    left: 30px;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    text-shadow: 0.5rem 0.5rem 0.5rem #000;
}

  
  /* navbar buttons */
  .navbar button {
    border-radius: 28px;
    border: none;
    font-family: Nunito, sans-serif;
    font-weight: 650;
    color: #000000;
    font-size: 20px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
    margin: auto 10px auto 10px;
  }

  /* Navbar hover effect */
  .navbar button:hover {
    background-color: rgb(200, 200, 200);
    border-color: rgb(200, 200, 200);
  }
  
  /* hamburger menu button */
  .navbar .menu-button {
    display: none;
    cursor: pointer;
    font-size: 24px;
  }
  
  /* Hamburger menu container */
  .navbar .menu {
    display: none;
  }
  
  /* Hamburger menu links */
  .navbar .menu button {
    display: block;
    margin: auto 10px auto 10px;
  }
  
  /* Specific navbar items*/

  /* Media query to show the hamburger menu on small screens */
  @media screen and (max-width: 720px) {
    /* Hide regular navbar links */
    .navbar button {
      display: none;
    }
  
    /* Show hamburger menu button */
    .navbar .menu-button {
      display: block;
    }
  
    /* Show menu on hover */
    .navbar .menu-button:hover + .menu,
    .navbar .menu-button:focus + .menu {
      display: block;
    }
  }
/*//////////////////////// NAVBAR CSS END //////////////////////////////*



  